# Gradle files
.gradle
/build
**/build/
gradle/wrapper/gradle-wrapper.jar

# IDE files
.idea/
*.iml
*.iws
*.ipr
local.properties
captures/
.externalNativeBuild
.cxx
.DS_Store

# Keystore files
*.jks
*.keystore

# Local C++ libraries
/build